body{ 
  padding-top: 50px;
  background-color: #fff;
}

.nav > li > a:hover{
    background-color:#000;
}

.grid-item { width: 300px; 
  margin-bottom: 10px;
  margin-top: 10;

  /*margin-right: 10px;*/

}
.grid {
  margin: 0 auto;
}

.grid-item--width2 { width: 400px; 
}

.jumbotron {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 50px;
  /*line-height: 65px;*/
  background-color: #ffffff;
  background-size: cover; 
  color: black;

}
h1 h2.featurette-heading{
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

div.jumbotron{
  background: linear-gradient(#fff, transparent 80%), url("../images/bannerhands.jpg") no-repeat center; 
background-size: cover; 
box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
/*  background-image: url(../images/bannerhands.jpg);
  background-size: cover;*/
}

.carousel{
  width:250px;
}

.slick-prev:before, .slick-next:before {
  color:black;
}

ul.slick-dots{
  visibility: hidden;
}

.headerphoto{
  background-image: "images/Typewriter.jpg";
  background-size: cover;  
}

.featurette-one{
  background-color: #ffffff;
  font-family: 'Vollkorn', Georgia, Times, serif;
  margin-left: 5%;
}

.featurette-two{
  background-color: #ffffff;
  font-family: 'Vollkorn', Georgia, Times, serif;
  margin-right: 5%;
}

nav{
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  height: 10%;
  color:#ffffff;
  border-bottom: none;
}

nav.navbar-inverse nav.navbar nav.navbar-fixed-top nav.navbar-header div.navbar-brand{
  color:#fff;
  border-bottom: none;
}

form{
  background-color:#ffffff;
  object-position: center;
}

.featurette-three{
  background-color: #ffffff;
  font-family: 'Vollkorn', Georgia, Times, serif;
  margin-left: 5%;
}

.nameHeader{
  font: 40px;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}
/*nav.navbar-inverse nav.navbar nav.navbar-fixed-top nav.navbar-header div.navbar-brand{
  color:#fff;
  border-bottom: none;
}*/
.text-muted{
  font-size: 20px;
  margin-left: 10px;
}

#container form {
  margin: 30px 30px 30px;
}

#container form div {
  margin-top: 10px;
}

#container form input[type='text'] {
  font-size: 18px;
  width: 300px
}

#container form textarea {
  font-size: 18px;
  width: 300px;
  height: 100px;
}
#container form label {
  width: 150px;
  display: inline-block;
}

#contactform{
  text-align: center;
}

footer{
  text-align: center;
}

.navbar-inverse .navbar-brand:hover {
    color: #690F24;
}

a{
  color: #690F24;
}

/*h1 {
	text-align: center;
	margin-bottom: 20px;
}*/


/*.box {
  background-color: #EEEEEE;
  border: #333333 solid 1px;
  height: 40px;
  width: 100%;
  text-align: center;*/
}
/*
[class*="col-"] {*/
 /* border: 1px black solid;
  padding: 10px;
}*/
