body{ 
  padding-top: 50px;
  background-color: #fff;

}

.grid-item { width: 300px; 
  margin-bottom: 10px;
  margin-top: 10;

  /*margin-right: 10px;*/

}
.grid {
  margin: 0 auto;
}

.grid-item--width2 { width: 400px; 
}

.jumbotron {
  font-family: 'Raleway', sans-serif;
   background-color: #ffffff;
   background-size: cover; 
   color: black;

}

.carousel{
  width:250px;
}

.slick-prev:before, .slick-next:before {
  color:black;
}

.headerphoto{
  background-image: "images/Typewriter.jpg";
  background-size: cover;  
}

.featurette-one{
  background-color: #ffffff;
  font-family: 'Slabo 27px', serif;
  margin-left: 5%;
}

.featurette-two{
  background-color: #ffffff;
  font-family: 'Slabo 27px', serif;
  margin-right: 5%;
}

nav{
  font-family: 'Raleway', sans-serif;
  height: 10%;
  color:#ffffff;
  border-bottom: none;
}

nav.navbar-inverse nav.navbar nav.navbar-fixed-top nav.navbar-header div.navbar-brand{
  color:#fff;
  border-bottom: none;
}


.featurette-three{
  background-color: #ffffff;
  font-family: 'Slabo 27px', serif;
  margin-left: 5%;
}

.nameHeader{
  font: 40px;
  font-family: 'Slabo 27px', serif;
}
nav.navbar-inverse nav.navbar nav.navbar-fixed-top nav.navbar-header div.navbar-brand{
  color:#fff;
  border-bottom: none;
}
.text-muted{
  font-size: 20px;
  margin-left: 10px;
}

#container form {
  margin: 30px 30px 30px;
}

#container form div {
  margin-top: 10px;
}

#container form input[type='text'] {
  font-size: 18px;
  width: 300px
}

#container form textarea {
  font-size: 18px;
  width: 300px;
  height: 100px;
}
#container form label {
  width: 150px;
  display: inline-block;
}

#contactform{
  text-align: center;
}

footer{
  text-align: center;
}

/*h1 {
	text-align: center;
	margin-bottom: 20px;
}*/


/*.box {
  background-color: #EEEEEE;
  border: #333333 solid 1px;
  height: 40px;
  width: 100%;
  text-align: center;*/
}
/*
[class*="col-"] {*/
 /* border: 1px black solid;
  padding: 10px;
}*/
